<section>
  <div class="container" >
    <h3>{{this.status}}</h3>
    {{!-- <br> --}}
    <table class="table mt-5" id="churchTable" >
      <thead>
        <tr>
          <th scope="col">name</th>
          <th scope="col">phone</th>
          <th scope="col">Date</th>
           <th scope="col">Reason</th>
           <th scope="col">payment ID</th>
             <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each requests}}
        <tr>
          <td>{{this.name}}</td>
          <td>{{this.phone}}</td>
          <td>{{this.date}}</td>  
           <td>{{this.reason}}</td><br>
           <td>{{this.paymentId}}</td>
          <td>{{this.status}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>
<script>
  $(function () {
    $('#churchTable').DataTable({ordering: false});
  });
</script>