<div class="container">
  <h3>{{this.status}}</h3>
  <br>
</div>
<div class="row">
  <div class="col-md-6 m-auto">
    <div class="container mt-5 pl-5">
      <h2 class="text-center">Search</h2>
      <form action"adminPanel/VidhyA789/users/user_bookings" method="post">
        <div class="form-group">
          <input type="text" class="form-control" name="_id" id="_id" placeholder="Search" required>
        </div>
        <button type="submit" class="btn btn-primary float-right">search</button>
      </form>
    </div>
  </div>
</div>
<section>
  <table class="table mt-5" id="churchTable">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Patient Name</th>
        <th scope="col">Doctor Name</th>
        <th scope="col">Doctors id</th>
        <th scope="col">status</th>
      </tr>
    </thead>
    <tbody>
      {{#each result}}
      <tr>
        <td>{{this.date}}</td>
        <td>{{this.time}}</td>
        <td>{{this.patientname}}</td>
        <td>{{this.doctorname}}</td>
        <td>{{this.doctorsid}}</td>
        <td>{{this.status}}</td>
        {{!-- <td><a
            href="/myFirstApp.AESoftwareSolution/Unni/SibiN.12.02.1996.JameS/AikarA/detailed_payment/{{this.church_id}}/{{this.pay_id}}/{{this.church_name}} "
            class="btn btn-primary">View</a> --}}
          <!-- send the value use query-->
      </tr>
      {{/each}}
    </tbody>
  </table>
  </div>
</section>
<script>
  $(function () {
    $('#churchTable').DataTable();
  });
</script>